<h2><%= t('.all_keys') %></h2>

<%= render :partial => "/shared/filter", :locals => { :url => keys_path } %>

<%= tabs(:selected => @filter.to_sym) do |a| %>
  <% a.tab :mine, t('.my_keys'), keys_path(:filter => 'mine') %>
  <% a.tab :all, t('.all_keys'), keys_path(:filter => 'all') %>
<% end %>

<div id="keys">
  <%= render :partial => "list", :locals => { :keys => @keys } %>
</div>
